body {
    font-family: Arial, sans-serif;
    background-color: #honeydew;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #whitesmoke;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 10px;
}

.input-group input {
    padding: 10px;
    border: 1px solid #ghostwhite;
    border-radius: 5px;
}

button[type="submit"] {
    padding: 10px;
    background-color: #royalblue;
    color: #whitesmoke;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #royalblue;
}

.signup {
    text-align: center;
    margin-top: 20px;
}

.signup a {
    text-decoration: none;
    color: #royalblue;
}
